.border-editProduct {
    height: 90vh;
    padding-top: 5%;
    padding-left: 17%;
    padding-right: 17%;
    background-color: #0B0B0B;
}
#custom-button {
    padding: 10px;
    color: white;
    background-color: #da3131;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #custom-button:hover {
    background-color: #00b28f;
  }
  
  #custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
  }
  .save {
    text-decoration: none;
    color: white;
  }
  .upload-files {
    background: #f74d4d;
    color: white;
    padding: 0.5rem 1rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }